<div class="bar bar-header bar-stable">
      <div class="title">AFILIACI&Oacute;N</div>
    </div>
      <div class="content has-header">
        <form novalidate class="simple-form">
        <div class="list list-inset">
          <label class="item item-input">
            {{idCliente}}
          </label>
           <a class="button icon-right ion-chevron-right button-block button-positive" href="#/login">Cambiar afiliaci&oacute;n</a>
          </div>
      </form>
      <div class="card">
            <div class="item item-divider">
            Atenci&oacute;n
            </div>
            <div class="item item-text-wrap">
              <p id="result" style="color: red;">La identificación aún no ha sido aprobada</p>
            </div>
          </div>
      </div>