<ion-view view-title="Dashboard">
<div class="bar bar-header bar-stable">
      <div class="title">mis puntos</div>
    </div>
  <ion-content class="has-header">
     <div class="row">
      <div class="col col-centered">
        <img class="logo" src="img/logo.png" alt="Digitel">
      </div>
    </div>
      <div class="row">
            <div class="col col-centered">
            <div class="hc-pie" items="points" colors="sentColors"></div>
            <div class="categories">
                <p class="left">{{puntos.puntosInicioCategoria}}</p>
                <p class="right">{{puntos.puntosFinalCategoria}}</p>
              </div>
                <div class="legend">
                  <p>{{puntos.puntosNombreCategoria}}</p>
                  <p>Puntos acumulados</p>
                  <p>{{puntos.puntosAcumulados}}</p>
                </div>
            </div>
        </div>
        <div class="row leyenda">
            <div class="col text-center">{{puntos.puntosCanjeables}} PUNTOS CANJEABLES</div>
        </div>
        <div class="row leyenda">
            <div class="col text-center">(Caducan el {{puntos.puntosCaducan}})</div>
        </div>
        <div class="row padding-bottom">
        </div>
        <div class="row">
          <div class="col col-centered">
            <canvas id="barcode"></canvas>
          </div>
        </div>
  </ion-content>
</ion-view>
