<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-light">

  <ion-tab title="Mis Puntos" icon-off="ion-ios7-speedometer-outline" icon-on="ion-ios7-speedometer" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ubicaciones" icon-off="ion-ios7-location-outline" icon-on="ion-ios7-location" href="#/tab/locations">
    <ion-nav-view name="tab-locations"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ofertas" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/offers">
    <ion-nav-view name="tab-offers"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil" icon-off="ion-ios7-person-outline" icon-on="ion-ios7-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
